<!DOCTYPE html>
<html>
<head>
    <title>8BallUI</title>

    <link href='http://fonts.googleapis.com/css?family=Oswald|Quicksand' rel='stylesheet' type='text/css'>
    <link href='css/8ball.css' rel='stylesheet' type='text/css'>

</head>
<body>
<ul class="main-nav">
    <li><a href="" title="" accesskey="">Concept</a></li>
    <li><a href="" title="" accesskey="">Docs</a></li>
    <li><a href="" title="" accesskey="">Examples</a></li>
    <li><a href="" title="" accesskey="">Credits</a></li>
</ul>
</body>
</html>